<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
        {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> --}}
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css"></link>
        <link rel="stylesheet" href="assets/css/style.css" type="text/css"></link>
        
<head>
	<title>TechNews Scrape</title>
</head>
<body>
    {{> navbar}}
	{{{body}}}
    <div id="scraped"></div>
</body>

<script src="../../public/assets/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src = "../../public/assets/js/main.js"></script>
</html>